$color_1: greenyellow;
$color_2: #3FD28B;
$color_3: white;
$color_4: #333333;
$color_5: #222222;
$color_6: #d80000;
$color_7: green;
$color_8: #616161;
$font-family_1: Quicksand;
$font-family_2: Quicksand-medium;
$font-family_3: "Museo Sans 500 Regular";
$background-color_1: #333;
$background-color_2: #444;
$background-color_3: #2a7ff3;
$background-color_4: aquamarine;
$background-color_5: white;
$background-color_6: #ffe4e6;
$background-color_7: rgba(128, 128, 128, 0.301);
$background-color_8: #555;

@font-face {
	font-family: "Museo Sans 500 Regular";
	src: url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.eot");
	src: url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.woff")format("woff"), url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/75958886ff7389a59bc57360bf8559c9.svg#Museo Sans 500 Regular")format("svg");
}
@font-face {
	font-family: Quicksand;
	src: url(Quicksand-font-1/Quicksand-VariableFont_wght.ttf);
}
@font-face {
	font-family: Quicksand-bold;
	src: url(Quicksand-font-1/static/Quicksand-Bold.ttf);
}
@font-face {
	font-family: Quicksand-regular;
	src: url(Quicksand-font-1/static/Quicksand-Regular.ttf);
}
@font-face {
	font-family: Quicksand-medium;
	src: url(Quicksand-font-1/static/Quicksand-medium.ttf);
}
@font-face {
	font-family: Quicksand-Medium;
	src: url(Quicksand-font-1/static/Quicksand-Medium.ttf);
}
@font-face {
	font-family: Quicksand-semibold;
	src: url(Quicksand-font-1/static/Quicksand-SemiBold.ttf);
}
/* Define the styling for the navbar */
/* Style for navbar items */
/* Define the styling for the side menu */
/* Style for menu items */
/* Apply the stacking and gap on smaller screens using media queries */
/* Apply the grid layout on larger screens */
/* Move the side menu into the viewport */
/* Apply navbar on larger screens using media queries */
article {
	display: grid;
	grid-template-columns: 24px 1fr 24px;
	background: #eeeeee 0% 0% no-repeat padding-box;
	>* {
		grid-column: 2;
		min-width: 0;
		min-height: 1080px;
	}
}
.header {
	display: flex;
	gap: 24px;
	align-items: center;
	padding: 10px;
	background-color: $background-color_1;
	color: $color_1;
	>div {
		&:nth-child(2) {
			margin-left: auto;
		}
	}
}
.navbar {
	display: none;
	justify-content: flex-end;
	align-items: center;
	a {
		color: $color_2;
		text-decoration: none;
		margin-right: 20px;
		transition: color 0.3s;
		font-family: $font-family_1;
		font-weight: normal;
		font-size: 14px;
	}
	.active {
		color: $color_3;
		border-bottom: 2px solid white;
	}
}
.side-menu {
	display: flex;
	flex-direction: column;
	background-color: $background-color_2;
	position: fixed;
	top: 0;
	left: -200px;
	width: 200px;
	height: 100vh;
	overflow-y: auto;
	transition: left 0.3s ease-in-out;
	a {
		color: $color_3;
		text-decoration: none;
		padding: 10px;
		transition: background-color 0.3s;
	}
}
.count {
	position: relative;
}
.badge {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: $background-color_3;
	padding: 3px 5px;
	border-radius: 50%;
}
body {
	margin: 0;
	background: #eeeeee 0% 0% no-repeat padding-box;
}
.content {
	height: 100%;
}
.menu {
	background-color: $background-color_4;
	display: flex;
	justify-content: space-around;
	grid-column: 1/-1;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: $font-family_2;
}
.Course {
	display: flex;
	gap: 8px;
	justify-content: center;
	padding-top: 19px;
	padding-bottom: 15px;
	width: 100%;
	align-items: center;
	border-bottom: 4px solid black;
	>div {
		&:nth-child(2) {
			font-family: $font-family_1;
			font-weight: bold;
			font-size: 24px;
		}
	}
}
.Classes {
	display: flex;
	gap: 8px;
	justify-content: center;
	padding-top: 19px;
	padding-bottom: 15px;
	width: 100%;
	align-items: center;
	font-family: $font-family_1;
	font-weight: bold;
	font-size: 24px;
	>div {
		&:nth-child(3) {
			font-family: $font-family_1;
			font-weight: normal;
			font-size: 16px;
		}
	}
}
.filter {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 17px;
	border-bottom: 2px solid lightgray;
	margin-bottom: 16px;
	width: 100%;
	>div {
		&:nth-child(1) {
			font-family: $font-family_1;
			font-weight: normal;
			font-size: 12px;
		}
		&:nth-child(2) {
			font-family: $font-family_1;
			font-weight: 16px;
			font-size: 12px;
		}
	}
}
.Sort {
	display: flex;
	gap: 6px;
}
.filterdrop {
	border: none;
	border-bottom: 2px solid rgb(155, 152, 152);
	background: #eeeeee 0% 0% no-repeat padding-box;
	font-family: $font-family_1;
	font-weight: bold;
	font-size: 16px;
	width: 156px;
	color: $color_4;
}
.image-sort {
	margin-left: 18px;
}
.drop {
	border: none;
	border-bottom: 2px solid lightgray;
	width: 100%;
	font-family: $font-family_1;
	font-weight: 590;
	font-size: 16px;
	color: $color_5;
}
.Courses {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
}
.subject {
	display: flex;
	gap: 8px;
	font-family: $font-family_1;
	font-weight: normal;
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.units {
	font-family: $font-family_1;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 18px;
}
.fade {
	opacity: 0.5;
}
.Course-1 {
	grid-column: 1/2;
	background-color: $background-color_5;
	padding: 24px;
	padding-bottom: 0px;
}
.Course-1-content {
	display: flex;
	gap: 16px;
}
.Course-4-content {
	display: flex;
	gap: 16px;
}
.expired {
	position: absolute;
	background-color: $background-color_6;
	padding: 4px 7px 2px 5px;
	color: $color_6;
	font-family: $font-family_3;
	font-size: 12px;
	top: -0px;
	left: -0px;
}
.Content-1 {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.Course-1-footer {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-evenly;
	border-top: 1px solid lightgrey;
	margin-top: 16px;
	margin-bottom: 9px;
	padding-top: 16px;
}
.information {
	display: flex;
	gap: 8px;
	font-family: $font-family_1;
	font-size: 12px;
	margin-top: 8px;
}
.Course-2-content {
	display: flex;
	gap: 10px;
}
.Course-2-footer {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-evenly;
}
.Course-2 {
	grid-column: 2/3;
	background-color: $background-color_5;
	padding: 20px;
	padding: 24px;
	padding-bottom: 0px;
}
.Course-3 {
	grid-column: 1/2;
	background-color: $background-color_5;
	padding: 24px;
	padding: 24px;
	padding-bottom: 0px;
}
.Course-4 {
	grid-column: 2/3;
	background-color: $background-color_5;
	padding: 20px;
	padding: 24px;
	padding-bottom: 0px;
	position: relative;
}
.gray {
	filter: grayscale(1);
	opacity: 0.4;
}
.content-heading {
	font-family: $font-family_1;
	font-weight: 550;
	font-size: 16px;
}
.msg {
	display: flex;
	justify-content: center;
	color: $color_7;
	font-size: 18px;
	margin-top: 22px;
	margin-bottom: 20px;
}
p {
	>span {
		border-left: 1px solid rgba(157, 157, 157, 0.666);
		height: 20px;
		margin-left: 15px;
		margin-right: 15px;
	}
}
.footer {
	background-color: $background-color_7;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	font-family: $font-family_1;
	font-weight: normal;
	font-size: 12px;
	color: $color_8;
	>span {
		border-left: 1px solid rgba(82, 82, 82, 0.415);
		height: 25px;
		margin-left: 15px;
		margin-right: 15px;
	}
	>p {
		font-weight: 500;
	}
}
.totalfooter {
	left: 0;
	bottom: 0;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.Course-1 {
		width: 100%;
	}
	.Course-2 {
		width: 100%;
	}
	.Course-3 {
		width: 100%;
	}
	.Course-4 {
		width: 100%;
	}
	.header {
		flex-direction: row;
		align-items: flex-end;
		>div {
			&:nth-child(3) {
				margin-left: auto;
			}
		}
	}
	.navbar {
		display: none;
	}
	.side-menu {
		display: flex;
		a {
			&:hover {
				background-color: $background-color_8;
			}
		}
	}
	.side-menu.active {
		left: 0;
	}
}
@media screen and (min-width: 769px) {
	.Courses {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 26px;
		column-gap: 24px;
	}
	.header {
		flex-direction: row;
	}
	.navbar {
		display: flex;
	}
	.side-menu {
		display: none;
	}
	.side-menu-toggle {
		display: none;
	}
}
@media only screen and (max-height: 950px) {
	.totalfooter {
		position: relative;
	}
}